header {
  display: flex;
}
.Zola {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
}
.Know {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 50px;
}
button {
  background-color: aquamarine;
  width: 100px;
  height: 30px;
  border: 3px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 1s ease;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
button:hover {
  background-color: #24faa8;
  color: rgb(141, 18, 223);
  transform: scale(1.05);
  pointer-events: rotate;
  animation-name: rotate;
  animation-duration: 0.5s;
}

.des {
  font-size: 18px;
  text-transform: uppercase;
  text-align: right;
}
.blia {
  background: linear-gradient(to bottom, rgb(238, 245, 248), rgb(21, 169, 233));
}
h1 {
  font-size: 80px;
  margin-left: 77px;
  margin-top: 76px;
}
.Vid {
  font-size: 16px;
  text-align: right;
  margin-top: 76px;
  margin-right: 77px;
}
.container {
  background: linear-gradient(to bottom, #f8f5cc, #c9d63e);
}
.sec1 {
  background-color: #ffffff;
  width: 500px;
  padding-top: 50px;
  font-size: 25px;
  height: auto;
}
h2 {
  font-size: 40px;
}
.zagol1 {
  font-size: 35px;
  padding-left: 150px;
}

.sec2 {
  background-color: #ffffff;
  width: 500px;
  padding-top: 50px;
  font-size: 25px;
  height: auto;
}
h3 {
  font-size: 40px;
}
.zagol2 {
  font-size: 35px;
  padding-left: 150px;
}
.sec12 {
  background-color: #ffffff;
  width: 500px;
  margin-left: 300px;
  height: auto;
}
