.Zola {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
}
.des {
  font-size: 18px;
  text-transform: uppercase;
  text-align: right;
}
.blia {
  background: linear-gradient(to bottom, rgb(238, 245, 248), rgb(21, 169, 233));
}
h1 {
  font-size: 80px;
  margin-left: 77px;
  margin-top: 76px;
}
.Vid {
  font-size: 16px;
  text-align: right;
  margin-top: 76px;
  margin-right: 77px;
}
.container {
  background: linear-gradient(to bottom, #f8f5cc, #c9d63e);
}
.sec1 {
  background-color: #ffffff;
  width: 500px;
  padding-top: 50px;
  font-size: 25px;
  height: auto;
}
h2 {
  font-size: 40px;
}
.zagol1 {
  font-size: 35px;
  padding-left: 150px;
}

.sec2 {
  background-color: #ffffff;
  width: 500px;
  padding-top: 50px;
  font-size: 25px;
  height: auto;
}
h3 {
  font-size: 40px;
}
.zagol2 {
  font-size: 35px;
  padding-left: 150px;
}
.sec12 {
  background-color: #ffffff;
  width: 500px;
  margin-left: 300px;
  height: auto;
}
